@charset "UTF-8";
:root {
  --dashboard--background-color: #fff;
  --dashboard--primary-color: #0092ea;
  --dashboard--secondary-color: #00308D;
  --dashboard--border-color: #2F2B2F;
}
/* Dashboard */
.wp-core-ui .button.dashboard-button {
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 10px #545454;
  color: #fff;
  padding: 0.5rem 1rem;
  min-width: 10rem;
  text-align: center;
}
.wp-core-ui .button.dashboard-button-primary {
  background-color: var(--dashboard--primary-color);
  font-weight: 600;
  font-size: 16px;
}
.wp-core-ui .button.dashboard-button-secondary {
  background-color: var(--dashboard--secondary-color);
}
.wp-core-ui .button.dashboard-button:hover,
.wp-core-ui .button.dashboard-button:focus {
  background-color: #333;
  color: #fff;
}
.salecraft-ecommerce-dashboard-area * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.postbox .inside.salecraft-ecommerce-dashboard-welcome .salecraft-ecommerce-notice-heading{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.postbox .inside.salecraft-ecommerce-dashboard-welcome .dashboard-button-group{
  margin-top: 6px;
}
.salecraft-ecommerce-features-list.salecraft-ecommerce-premium-features .item-content-left h4,
.salecraft-ecommerce-quick-settings .salecraft-ecommerce-available-settings .theme-editor-card h4{
  font-size: 16px;
  margin-top: 0;
  color: #3c434a;
  margin-bottom: 0;
}
.salecraft-ecommerce-quick-settings .salecraft-ecommerce-available-settings .theme-editor-card h4{
  margin: 0;
}
.salecraft-ecommerce-dashboard-area a:not(.button) {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}
.salecraft-ecommerce-dashboard-area a:not(.button, :hover, :focus) {
  color: var(--dashboard--secondary-color);
}
.salecraft-ecommerce-dashboard-area a:not(.button):hover,
.salecraft-ecommerce-dashboard-area a:not(.button):focus,
.salecraft-ecommerce-features-list:hover {
  box-shadow: none;
}
.salecraft-ecommerce-notice p {
  padding: 0;
  font-size: 14px;
}
.salecraft-ecommerce-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.salecraft-ecommerce-dashboard-area ul {
  margin: 0;
  padding: 0;
}
.salecraft-ecommerce-dashboard-header {
  background-color: #fff;
  border-bottom: 1px solid #d1d5db;
  padding: 0 2rem;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.salecraft-ecommerce-dashboard-header .salecraft-ecommerce-logo {
  display: flex;
  align-items: center;
}
.salecraft-ecommerce-theme-version {
  color: var(--dashboard--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 0px 10px #545454;
  margin-left: 1rem;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav ul li {
  margin: 0;
  position: relative;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav ul li a {
  color: #383838;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav ul li.active a {
  color: var(--dashboard--secondary-color);
}
.salecraft-ecommerce-dashboard-header .dashboard-header-nav ul li.active::before {
  height: 3px;
  width: 100%;
  bottom: 0;
  background-color: var(--dashboard--secondary-color);
  content: "";
  position: absolute;
  top: 40px;
}
.salecraft-ecommerce-dashboard-header .dashboard-header-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.salecraft-ecommerce-dashboard-content {
  padding: 2rem;
}
.content-panel-upper {
  margin-bottom: 2rem;
}
.content-panel-lower {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: flex-start;
}
.content-panel-lower .dashboard-content-left,
.content-panel-lower .dashboard-content-right {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 1024px) {
  .salecraft-ecommerce-dashboard-content .content-panel-lower {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
  .salecraft-ecommerce-dashboard-content.salecraft-ecommerce-help-panel .content-panel-lower{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .content-panel-lower .dashboard-content-left {
    grid-column: span 2 / span 2;
  }
}
.wrap.overlay {
  background: rgba(0, 0, 0, 0.05);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.appearance_page_salecraft_ecommerce .wrap {
  margin: 0 0 0 0;
}
.appearance_page_salecraft_ecommerce #wpcontent {
  padding: 0;
}
.appearance_page_salecraft_ecommerce #wpbody-content .salecraft-ecommerce-dashboard-area {
  padding: 0;
}
.salecraft-ecommerce-dashboard-content .postbox {
  border: .1rem solid var(--dashboard--border-color);
  box-shadow: 0px 0px 10px #545454;
}
.salecraft-ecommerce-dashboard-content .postbox .hndle,
.salecraft-ecommerce-dashboard-content .postbox .inside {
  margin: 0;
}
.salecraft-ecommerce-dashboard-content .postbox .hndle {
  font-size: 16px;
  padding: 1rem 1.5rem;
}
.salecraft-ecommerce-dashboard-content .postbox .hndle-controller {
  padding: 1rem 1.5rem;
}
.salecraft-ecommerce-dashboard-content .postbox .inside {
  padding: 2rem 1.5rem;
}
.dashboard-content-panel .postbox {
  margin: 0;
}
.dashboard-content-panel .postbox p {
  color: #383838;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 20px 0;
}
.dashboard-content-panel .postbox .postbox-header {
  border-bottom: 1px solid var(--dashboard--border-color);
}
.dashboard-content-left .postbox .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}
.salecraft-ecommerce-postbox-plugins .inside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.salecraft-ecommerce-features-list, .salecraft-ecommerce-quick-settings .salecraft-ecommerce-available-settings .theme-editor-card{
  border: .1rem solid var(--dashboard--border-color);
  box-shadow: 0px 0px 10px #545454;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.salecraft-ecommerce-premium-features, .salecraft-ecommerce-quick-settings .salecraft-ecommerce-available-settings .theme-editor-card{
  background: #EFF4F7;
}
.salecraft-ecommerce-dashboard-welcome {
  justify-content: left;
  overflow: hidden;
  padding: 0 !important;
  display: flex;
  flex-flow: row;
  width: 100%;
}
.salecraft-ecommerce-dashboard-welcome .salecraft-ecommerce-notice-left {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}
.salecraft-ecommerce-dashboard-welcome .salecraft-ecommerce-notice-right {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px
}
@media (max-width: 782px) {
  .salecraft-ecommerce-dashboard-welcome .salecraft-ecommerce-notice-left,
  .salecraft-ecommerce-dashboard-welcome .salecraft-ecommerce-notice-right {
    flex-basis: 100%
  }
}
.salecraft-ecommerce-compare-table .dashboard-button-group {
  justify-content: center;
}
.salecraft-ecommerce-dashboard-area .salecraft-ecommerce-premium-badge {
  height: 50px;
}
.dashboard-content-panel .postbox p.pro-distails-text{
  font-size: 16px;
  margin-top: 0;
  color: #00308D;
  margin-bottom: 0;
  font-weight: 900;
  padding: 2rem 1.5rem;
  padding-bottom: 0px !important;
}

.pro-discount-content p.pro-discount-text{
  font-size: 22px;
  margin-top: 0;
  color: #00308D;
  margin-bottom: 0;
  font-weight: 900;
  padding: 2rem 1.5rem;
  padding-top: 0px !important;
}
.pro-discount-content p.pro-discount-text span.discount-price {
  font-size: 18px !important;
  font-weight: 500 !important;
  text-decoration: line-through;
}
.inside.salecraft-ecommerce-unavailable-settings .salecraft-ecommerce-premium-badge {
  height: 50px;
  max-width: 50px;
}
li a[href="themes.php?page=salecraft-ecommerce"] {
  background-color:  #0092ea !important;
  color: #fff !important;
}
.pro-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
.pro-feature > a {
  font-weight: bold;
}

/* Products Page */
.products-page .postbox {
  margin-bottom: 32px;
}
.products-page .inside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}
.products-page .item {
  border: .1rem solid var(--dashboard--border-color);
  box-shadow: 0px 0px 10px #545454;
  display: flex;
  flex-direction: column;
}
.products-page .inside .content,
.products-page .inside .cta {
  padding: 20px 15px;
}
.products-page .inside .cta {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: .1rem solid var(--dashboard--border-color);
  margin-bottom: 0;
  margin-top: auto;
}
.products-page .inside .cta .activated {
  background: #FF9800;
  color: #000;
  border: .1rem solid var(--dashboard--border-color);
  box-shadow: 0px 0px 10px #545454;
  min-height: 30px;
  padding: 0.5rem 1rem;
  cursor: not-allowed;
  display: inline-block;
  line-height: 2.15384615;
  min-height: 30px;
}
.products-page .inside .cta-text a {
  font-weight: 400;
  margin-right: 10px;
}
.wp-core-ui .products-page .inside .cta-button .dashboard-button {
  min-width: 100px;
}

/* Help */
.salecraft-ecommerce-help-panel .salecraft-ecommerce-support-channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.salecraft-ecommerce-help-panel .salecraft-ecommerce-support-channels .postbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.salecraft-ecommerce-help-panel .salecraft-ecommerce-support-channels .postbox svg{
  height: 30px;
  width: 30px;
}
.salecraft-ecommerce-help-panel .postbox.salecraft-ecommerce-postbox-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* Free Vs Pro */
.free-vs-pro-page table {
  width: 100%;
  margin-bottom: 32px;
  -webkit-border-horizontal-spacing: 0;
}
.free-vs-pro-page .salecraft-ecommerce-compare-table tbody tr.compare-table-head td {
  background: #fafbfd;
  color: #000000;
  font-weight: 600;
}
.free-vs-pro-page .salecraft-ecommerce-compare-table tbody tr td:first-child {
  width: 50%;
  text-align: left;
}
.free-vs-pro-page .salecraft-ecommerce-compare-table tbody tr td {
  width: 25%;
  background: #fff;
  color: #383838;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2;
  padding: 12px;
  text-align: center;
  border-left: 0;
  border-right: 0;
}
.compare-checkmark, .compare-crossmark {
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
.compare-checkmark {
  background-color: #1db55f;
}
.compare-crossmark {
  background-color: #ed3a3a;
}
/* Dialog */
.salecraft-ecommerce-dashboard-offcanvas {
  position: fixed;
  right: 0;
  top: 32px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 386px;
  background: #00308D;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 9999;
  -webkit-box-shadow: 0px 3px 25px 5px #2F2B2F;
  box-shadow: 0px 3px 25px 5px #2F2B2F;
}
.salecraft-ecommerce-dashboard-offcanvas.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 20px;
  border-bottom: 2px solid #ffffff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-head h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.4;
  margin: 0;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-head .dialog-close{
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-head .dialog-close svg path{
  fill: #00308D;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-head .dialog-close:hover {
  cursor: pointer;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content {
  overflow: auto;
  color: #ffffff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog {
  padding: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-list-item {
  margin-bottom: 28px;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-list-head .salecraft-ecommerce-changelog-version{
  margin-bottom: 16px;  
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-list-head h4 {
  margin: 0;
  line-height: 1.33;
  font-size: 14px;
  font-weight: 600;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-list-head p {
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item {
  position: relative;
  margin: 20px 0;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  line-height: 1.7;
  outline: transparent solid 2px;
  outline-offset: 2px;
  border-radius: 0.375em;
  font-size: 14px;
  padding: 0 8px;
  position: sticky;
  z-index: 9999;
  top: 0;
  margin-bottom: 20px;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item .salecraft-ecommerce-changelog-change-list {
  padding-top: 10px;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item p {
  margin: 0 0 16px 0;
  padding-left: 40px;
  position: relative;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item p::before {
  content: "\f147";
  font-family: dashicons;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  z-index: 999;
  color: #00308D;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item p::after {
  background-color: #ffffff;
  background-position: 50% center;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 2px;
  z-index: 99;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--release span {
  color: #ffffff;
  background: var(--dashboard--primary-color);
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--release p::before {
  color: #fff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--release p::after {
  background: #009688;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--fix span {
  color: #555cff;
  background: #efefff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--fix p::before {
  color: #555cff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--fix p::after {
  background: #efefff;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--feature span {
  color: #22543d;
  background: #c6f6d5;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--feature p::before {
  color: #22543d;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--feature p::after {
  background: #c6f6d5;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--added span {
  color: #1a202c;
  background: #edf2f7;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--added p::before {
  color: #1a202c;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--added p::after {
  background: #edf2f7;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--tweak span {
  color: #44337a;
  background: #e9d8fd;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--tweak p::before {
  color: #44337a;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--tweak p::after {
  background: #e9d8fd;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--enhancement span {
  color: #234e52;
  background: #b2f5ea;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--enhancement p::before {
  color: #234e52;
}
.salecraft-ecommerce-dashboard-offcanvas .dialog-content .salecraft-ecommerce-changelog-change-item.item--enhancement p::after {
  background: #b2f5ea;
}
/* Starter Templates */
.salecraft-ecommerce-starter-panel .starter-templates-notification {
  border: .1rem solid var(--dashboard--border-color);
  box-shadow: 0px 0px 10px #545454;
  margin: 0 auto;
  background: #fff;
  padding: 50px 70px 55px 70px;
  text-align: center;
}
@media (min-width: 768px) {
  .salecraft-ecommerce-dashboard-header .dashboard-header-extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
  }
  .salecraft-ecommerce-help-panel .salecraft-ecommerce-support-channels {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 1050px) {
  .dashboard-content-left .postbox .inside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .salecraft-ecommerce-help-panel .postbox.salecraft-ecommerce-postbox-community {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .salecraft-ecommerce-help-panel .postbox.salecraft-ecommerce-postbox-community img {
    max-width: 348px;
  }
}

/* Activation Notice */
.salecraft-ecommerce-notice * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.salecraft-ecommerce-notice img,
.salecraft-ecommerce-dashboard-area img {
  max-width: 100%;
  height: 250px;
  vertical-align: top;
}
.salecraft-ecommerce-notice {
  border: none;
  padding: 0 !important;
  position: relative;
}
.salecraft-ecommerce-notice .salecraft-ecommerce-notice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}
.salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-welcome {
  background-color: #133c8b;
  justify-content: left;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
}
.salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-subheading,
.salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-heading{
  color: #ffffff;
}
.salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-left {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 15px;
}
.salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-right {
  flex: 0 0 30%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 782px) {
  .salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-left,
  .salecraft-ecommerce-notice-welcome .salecraft-ecommerce-notice-right {
    flex-basis: 100%
  }
}
.salecraft-ecommerce-notice-content {
  display: grid;
  padding: 30px;
  gap: 30px;
}
@media (max-width: 782px) {
  .salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-content {
    grid-template-columns: 1fr
  }
}
.salecraft-ecommerce-notice-content .salecraft-ecommerce-notice-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.salecraft-ecommerce-notice-content .salecraft-ecommerce-notice-item h3{
  margin-bottom: 0;
  font-size: 22px;
}
.salecraft-ecommerce-notice h2,
.salecraft-ecommerce-notice h3 {
  margin: 0 0 10px
}
.dashboard-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.dashboard-button-group.features-bottom-btn{
  flex-wrap: nowrap;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
.theme-review-notice .dashboard-button-group {
  margin: 2rem 0;
}
.dashboard-button-group .button.dashboard-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: 600;
  font-size: 16px;
}
.salecraft-ecommerce-notice .notice-dismiss {
  text-decoration: none;
}
.salecraft-ecommerce-notice .notice-dismiss:before{
  color: #ffffff;
}
.salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-subheading {
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
}
.salecraft-ecommerce-notice-wrapper .salecraft-ecommerce-notice-heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: #1e1e1e;
  margin: 0;
}
.salecraft-ecommerce-message-close {
  z-index: 999;
}
.salecraft-ecommerce-notice.theme-review-notice span.dashicons.dashicons-smiley.smile-icon {
  background: #f7e143;
  border-radius: 50%;
  font-size: 15px;
  border: 1px solid;
  width: 17px;
  height: 17px;
}
@media screen and (max-width: 991px) {
  .salecraft-ecommerce-dashboard-header,
  .salecraft-ecommerce-dashboard-content {
    padding: 1.5rem;
  }
  .salecraft-ecommerce-dashboard-header .dashboard-header-extras {
    flex: 1;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .salecraft-ecommerce-dashboard-header .dashboard-header-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
.appearance_page_salecraft_ecommerce #wpfooter {
  background-color: var(--dashboard--background-color);
  border-top: .1rem solid var(--dashboard--border-color);
}
.appearance_page_salecraft_ecommerce #footer-thankyou {
  font-style: normal;
}