<!-- wp:template-part {"slug":"header","theme":"salecraft-ecommerce","tagName":"header"} /-->

<!-- wp:pattern {"slug":"salecraft-ecommerce/inner-page-banner"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0px","left":"0px"}}},"layout":{"type":"constrained","contentSize":"85%"}} -->
<main id="content" class="wp-block-group" style="padding-right:0px;padding-left:0px"><!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"footer","theme":"salecraft-ecommerce","tagName":"footer"} /-->